[Unit]
Description=Daily Backup for Remote Shares

[Timer]
OnCalendar=*-*-* 21:00:00
Persistent=true
Unit=backup.service

[Install]
WantedBy=timers.target
